.vs
src/.vs
/Assets/Plugins/gen/
/Library
/Temp
/*.sln
/*.csproj
gen/
/ProjectSettings/*.asset
/Build
/Logs/
/obj/
/ProjectSettings/ProjectVersion.txt
packages-lock.json
/.vsconfig
/ProjectSettings/Packages/com.unity.services.core/Settings.json
/UserSettings/EditorUserSettings.asset
/UserSettings/Layouts/default-2022.dwlt
/UserSettings/Search.index
/UserSettings/Search.settings
/Assets/Resources/BillingMode.json
/Assets/Resources/BillingMode.json.meta
/Packages/Unity.GuiExtensions
